@font-face {
	font-family: 'SimKyungha';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2202-2@1.0/SimKyungha.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
    font-family: 'GmarketSansBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: 'S-CoreDream-3Light';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff%27') format('woff');
	font-weight: normal;
	font-style: normal;
}

@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

html {
	overflow-x: hidden;
}

body {
	margin: 0;
	font-family: 'Noto Sans KR', sans-serif;
}

a {
	text-decoration: none;
	color: white;
}

ul {
	list-style: none;
	padding-inline-start: 0;
}

.navbar {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.navbar_logo {
	width: 100%;
	font-size: 30px;
	color: white;
	background-color: #fff8dc;
	padding-top: 12px;
}

.navbar_logo img {
	height: 130px;
}

.navbar_menu {
	display: flex;
	flex-wrap: nowrap;
	list-style: none;
	justify-content: center;
	padding-left: 0;
	margin-block: 0;
}

.navbar_menu ul {
	margin-block-start: 0em;
	margin-block-end: 0em;
}

.navbar_menu a {
	float: left;
	color: black;
	width: 13vw;
	padding: 12px 16px;
	border: 1px solid #eaeaea;
	font-size: 1.5vw;
}

.navbar_menu a:hover {
	background-color: #d49466;
	color: white;
}

.navbar_menu p {
	margin-block: 0;
}

.navbar .menu_inner_wrap {
	display: inline-block;
	border-left: 1px solid #eaeaea;
	border-right: 1px solid #eaeaea;
}

.navbar .menu_wrap {
	display: flex;
	justify-content: center;
	width: 100vw;
	border-top: 1px solid #eaeaea;
	border-bottom: 1px solid #eaeaea;
}

.navbar_icons {
	list-style: none;
	color: white;
	display:flex;
}

.navbar_icons li {
	padding: 8px 12px;
}

a { 
	text-decoration:none 
} 

h1 {
	font-family:'Noto Sans KR', sans-serif;
}

.map {
	display: flex;
	align-items: center;
	flex-direction: column;
}

.map-ui {
	position: relative;
}

.map-ui img {
	width: 800px;
	height: 600px;
}

.Info {
	margin-top: 100px;
}

.Info-paragraph {
	font-size: x-large;
}

.RelatedSiteBanner, .GovermentSiteBanner, .MainSiteBanner, .Gu {
	margin-top: 3vw;
}

.RelatedSiteBanner * {
	box-sizing: border-box;
}

.GovermentSiteBanner * {
	box-sizing: border-box;
}

.MainSiteBanner * {
	box-sizing: border-box;
}

.banner-head {
	font-size: max(1.4em, 2.4vw);
	margin-block-end: 2em;
}

.bannerWrap {
	width: 100%;
	padding-left: 20%;
	padding-right: 20%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.bannerWrap .serviceBox {
	width: 400px;
	margin-bottom: 20px;
	margin-right: 20px;
	
}

.bannerWrap .serviceBox a{
	color: black;
	width: 400px;
	height: 200px;
	min-height: 150px;
	padding: 20px;
	padding-right: 120px;
	float: left;
	border: 1px solid #eaeaea;
	border-radius: 10px;
	background-position: calc(100% - 31px) 100%;
	background-repeat: no-repeat;
	background-color: #fff;
	transition-duration: 1s;
}

.RelatedSiteBanner .bannerWrap .serviceBox:nth-child(1) a {
	background-image: url("img/main-icon-02.png");
}

.RelatedSiteBanner .bannerWrap .serviceBox:nth-child(2) a {
	background-image: url("img/premium-icon-family-3677029.png");
}

.RelatedSiteBanner .bannerWrap .serviceBox:nth-child(3) a {
	background-image: url("img/free-icon-medicine.png");
}

.RelatedSiteBanner .bannerWrap .serviceBox:nth-child(4) a {
	background-image: url("img/free-icon-customer-service-agent-2776451.png");
}

.RelatedSiteBanner .bannerWrap .serviceBox:nth-child(5) a {
	background-image: url("img/free-icon-mother-6381754.png");
}

.bannerWrap .serviceBox a:hover {
	box-shadow: 1px 1px 20px #ddd;
	transition-duration: 1s;
}

.GovermentSiteBanner .bannerWrap .serviceBox:nth-child(1) a {
	background-image: url("img/free-icon-happiness-1581700.png");
}

.GovermentSiteBanner .bannerWrap .serviceBox:nth-child(2) a {
	background-image: url("img/premium-icon-family-3097951_1.png");
}

.GovermentSiteBanner .bannerWrap .serviceBox:nth-child(3) a {
	background-image: url("img/free-icon-maternity-1692190.png");
}

.MainSiteBanner .bannerWrap .serviceBox:nth-child(1) a {
	background-image: url("img/main-icon-05.png");
}

.MainSiteBanner .bannerWrap .serviceBox:nth-child(2) a {
	background-image: url("img/main-icon-01.png");
}

.MainSiteBanner .bannerWrap .serviceBox:nth-child(3) a {
	background-image: url("img/main-icon-04.png");
}

.MainSiteBanner .bannerWrap .serviceBox:nth-child(4) a {
	background-image: url("img/main-icon-03.png");
}

.IntroduceSlider .slider .item {
	position: relative;
	height: 400px;
	background-size: cover !important;
}


.slider-wrap {
	position: relative;
	width: 100%;
	height: 400px;
	margin: 0px;
	overflow: hidden;
	display: flex;
}

.slider {
	width: 100%;
	position: absolute;
	display: flex;
	flex-direction: column;
}

.slider .slide1 {
	background: url("https://helpx.adobe.com/content/dam/help/en/photoshop/how-to/compositing/jcr%3acontent/main-pars/image/compositing_1408x792.jpg") no-repeat center center;
}

.slider .slide2 {
	background: url("img/slide-image-02.png") no-repeat center center;
}

.slider .slide3 {
	background: url("img/slide-image-03.png") no-repeat center center;
}

.slider .item {
	display: flex;
	justify-content: center;
	align-items: center;
}

.slider .item ul {
	user-select: none;
}

.slider .item li {
	text-align: left;
	font-size:larger;
	text-shadow: 0px 0px 3px #ececec;
	font-family: 'Noto Sans KR', sans-serif;
	color: #1c1c1c;
}

.slider .item .slide-head {
	text-align: center;
	font-weight: 700;
	font-size: 40px;
}

.Gu p {
	color: black;
	margin-block-start: 0.6vw;
	margin-block-end: 0.6vw;
	font-size: 1.2vw;
}

.Gu .menu-wrap {
	display: flex;
	justify-content: center;
	margin-bottom: 2vw;
}

.Gu .menu-list {
	display: flex;
	justify-content: center;
}

.Gu .menu-list a {
	float: left;
	font-size: 20px;
	width: 15vw;
	height: 100%;
	border: 1px solid #eaeaea;
}

.Gu .menu-list .active {
	background-color: #eec6a9;
}

.Gu .menu-list .active p {
	color: white;
}

.Gu .content-wrap {
	width: 100%;
	height: 100%;
	display: flex;
}

.Gu .content-list {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

.Gu .content-list .content {
	width: 65vw;
	height: 100%;
	display: flex;
	justify-content: space-between;
	margin-bottom: 2vw;
	border: 1px solid #eaeaea;
	border-radius: 1vw;
	padding: 1vw;
}

.Gu .content-list .content > div {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-right: 1px solid #eaeaea;
	padding-right: 1vw;
}

.Gu .content-list .content img {
	min-width: 12vw;
	max-width: 12vw;
	max-height: 12vw;
}

.Gu .content-list .content button {
	margin-top: 16px;
	width: 12vw;
	height: 4vw;
	background-color: #fff8dc;
	font-size: 1.2vw;
	font-family: 'Noto Sans KR', sans-serif;
	border: 2px solid #eaeaea;
	border-radius: 10px;
	cursor: pointer;
}

.Gu .content-list .content ul {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	flex-wrap: wrap;
	padding: 2vw 3vw;
	list-style: circle;
	list-style-position:inside;
}

.Gu .content-list .content li {
	text-align: left;
	font-size: 1.2vw;
	list-style-position: inside;
	text-indent: -15px;
	padding-left: 15px;
}



.Footer .blank {
	height: 100px;
}

.Footer .content-wrap{
	background-color: #3c3c3c;
	width: 100%;
	height: 120px;
	display: flex;
	justify-content: center;
	clear: both;
}

.Footer .content p {
	color: #eaeaea;
	font-size: 0.9vw;
}