@font-face {
	font-family: 'SimKyungha';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2202-2@1.0/SimKyungha.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
    font-family: 'GmarketSansBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: 'S-CoreDream-3Light';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff%27') format('woff');
	font-weight: normal;
	font-style: normal;
}

@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

body {
	margin: 0;
	font-family:  'Noto Sans KR', sans-serif;
}

a {
	text-decoration: none;
	color: white;
}

.navbar {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.navbar_logo {
	width: 100%;
	font-size: 30px;
	color: white;
	background-color: #fff8dc;
	padding-top: 12px;
}

.navbar_logo img {
	height: 130px;
}

.navbar_menu {
	display: flex;
	flex-wrap: nowrap;
	list-style: none;
	justify-content: center;
	padding-left: 0;
}

.navbar_menu ul {
	margin-block-start: 0em;
	margin-block-end: 0em;
}

.navbar_menu li {
	color: black;
	width: 200px;
	padding: 12px 16px;
	border: 1px solid #eaeaea;
	border-radius: 10px;
}

.navbar_menu a {
	color: inherit;
	font-size: 1.5em;
}

.navbar_menu li:hover {
	background-color: #d49466;
	border-radius: 4px;
	color: white;
}

.navbar .menu_wrap {
	width: 100%;
	border-top: 1px solid #eaeaea;
	border-bottom: 1px solid #eaeaea;
}

.navbar_icons {
	list-style: none;
	color: white;
	display:flex;
}

.navbar_icons li {
	padding: 8px 12px;
}

a { 
	text-decoration:none 
} 

h1 {
	font-family:'Noto Sans KR', sans-serif;
}

.map {
	display: flex;
	align-items: center;
	flex-direction: column;
}

.map-ui {
	position: relative;
}

.map-ui img {
	width: 800px;
	height: 600px;
}

button {
	width:120px;
	height:40px;
	background-color: #004fff;
	color: white;
	box-shadow: 0 4px 16px rgba(0, 79, 255, 0.3);
	font-size: 16px;
	font-weight: bold;
	border-radius: 20px;
	position: absolute;
	top: 0px;
	left: 0px;
}

button:nth-child(2) {
	top: 180px;
	left: 180px;
}

button:nth-child(3) {
	top: 380px;
	left: 190px;
}

button:nth-child(4) {
	top: 390px;
	left: 350px;
}

button:nth-child(5) {
	top: 300px;
	left: 500px;
}

button:nth-child(6) {
	top: 160px;
	left: 420px;
}

button:focus{
	outline: 0;
}

button:hover{
	background-color: rgba(0, 79, 255, 0.3);
	cursor: pointer;
	cursor: pinter;
	box-shadow: 0 2px 4px rgba(0, 79, 255, 0.3);
}

.Info {
	margin-top: 100px;
}

.Info-paragraph {
	font-size: x-large;
}

.RelatedSiteBanner, .GovermentSiteBanner {
	width: 100%;
	margin-top: 100px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.RelatedSiteBanner * {
	box-sizing: border-box;
}

.GovermentSiteBanner * {
	box-sizing: border-box;
}

.bannerWrap {
	padding-left: 20%;
	padding-right: 20%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.bannerWrap .serviceBox {
	width: 400px;
	height: 180px;
	margin-bottom: 20px;
	margin-right: 20px;
}

.bannerWrap .serviceBox a{
	color: black;
	width: 400px;
	height: 180px;
	min-height: 150px;
	padding: 20px;
	float: left;
	border: 1px solid #eaeaea;
	border-radius: 10px;
	background-position: calc(100% - 31px) 100%;
	background-repeat: no-repeat;
	background-color: #fff;
	transition-duration: 1s;
}

.RelatedSiteBanner .bannerWrap .serviceBox:nth-child(1) a {
	background-image: url("img/free-icon-watching-tv-1397204.png");
}

.RelatedSiteBanner .bannerWrap .serviceBox:nth-child(2) a {
	background-image: url("img/premium-icon-family-3677029.png");
}

.RelatedSiteBanner .bannerWrap .serviceBox:nth-child(3) a {
	background-image: url("img/free-icon-medicine.png");
}

.RelatedSiteBanner .bannerWrap .serviceBox:nth-child(4) a {
	background-image: url("img/free-icon-customer-service-agent-2776451.png");
}

.RelatedSiteBanner .bannerWrap .serviceBox:nth-child(5) a {
	background-image: url("img/free-icon-mother-6381754.png");
}

.bannerWrap .serviceBox a:hover {
	box-shadow: 1px 1px 20px #ddd;
	transition-duration: 1s;
}

.GovermentSiteBanner .bannerWrap .serviceBox:nth-child(1) a {
	background-image: url("img/free-icon-happiness-1581700.png");
}

.GovermentSiteBanner .bannerWrap .serviceBox:nth-child(2) a {
	background-image: url("img/premium-icon-family-3097951_1.png");
}

.GovermentSiteBanner .bannerWrap .serviceBox:nth-child(3) a {
	background-image: url("img/free-icon-maternity-1692190.png");
}