@font-face {
	font-family: 'SimKyungha';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2202-2@1.0/SimKyungha.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
    font-family: 'GmarketSansBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
	margin: 0;
	font-family: 'GmarketSansBold';
}

a {
	text-decoration: none;
	color: white;
}

.navbar {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	background-color: #132B38;
	padding: 8px 12px;
}

.navbar_logo {
	font-size: 30px;
	color: white;
}

.navbar_logo i {
	color: #d49466;
	margin-right: 10px;
}

.navbar_menu {
	display: flex;
	flex-wrap: nowrap;
	list-style: none;
	padding-left: 0;
}

.navbar_menu li {
	padding: 8px 12px;
}

.navbar_menu li:hover {
	background-color: #d49466;
	border-radius: 4px;
}
.navbar_icons {
	list-style: none;
	color: white;
	display:flex;
}

.navbar_icons li {
	padding: 8px 12px;
}

a { 
	text-decoration:none 
} 


h1 {
	font-family:'SimKyungha';
}


.map {
	display: flex;
	align-items: center;
	flex-direction: column;
}

.map-ui {
	position: relative;
}

.map-ui img {
	width: 800px;
	height: 600px;
}

button {
	width:120px;
	height:40px;
	background-color: #004fff;
	color: white;
	box-shadow: 0 4px 16px rgba(0, 79, 255, 0.3);
	font-size: 16px;
	font-weight: bold;
	border-radius: 20px;
	position: absolute;
	top: 0px;
	left: 0px;
}

button:nth-child(2) {
	top: 180px;
	left: 180px;
}

button:nth-child(3) {
	top: 380px;
	left: 190px;
}

button:nth-child(4) {
	top: 390px;
	left: 350px;
}

button:nth-child(5) {
	top: 300px;
	left: 500px;
}

button:nth-child(6) {
	top: 160px;
	left: 420px;
}

button:focus{
	outline: 0;
}

button:hover{
	background-color: rgba(0, 79, 255, 0.3);
	cursor: pointer;
	cursor: pinter;
	box-shadow: 0 2px 4px rgba(0, 79, 255, 0.3);
}

.Info {
	margin-top: 100px;
}

.Info-paragraph {
	font-size: x-large;
}

.RelatedSiteBanner, .GovermentSiteBanner {
	width: 100%;
	margin-top: 100px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.RelatedSiteBanner * {
	box-sizing: border-box;
}

.GovermentSiteBanner * {
	box-sizing: border-box;
}

.bannerWrap {
	padding-left: 20%;
	padding-right: 20%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.bannerWrap .serviceBox {
	width: 400px;
	height: 180px;
	margin-bottom: 20px;
	margin-right: 20px;
}

.bannerWrap .serviceBox a{
	color: black;
	width: 400px;
	height: 180px;
	min-height: 150px;
	padding: 20px;
	float: left;
	border: 1px solid #eaeaea;
	border-radius: 10px;
	background-position: calc(100% - 31px) 100%;
	background-repeat: no-repeat;
	background-color: #fff;
}